{% extends 'base.html' %}
{% block title %}Start a Edit Topic{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Boards</a></li>
<li class="breadcrumb-item"><a href="{% url 'board_topics' board.pk %}">{{ board.name }}</a></li>
<li class="breadcrumb-item active">Edit topic</li>
{% endblock %}
{% load form_tags widget_tweaks %}
{% block content %}
<form method="post" novalidate enctype="multipart/form-data">
   {% csrf_token %}
   {% if form_topic.non_field_errors %}
   <div class="alert alert-danger" role="alert">
      {% for error in form_topic.non_field_errors %}
      <p>{% if forloop.last %} class="mb-0"{% endif %}>{{ error }}</p>
      {% endfor %}
   </div>
   {% endif %}
   {% for field in form_topic %}
   <div class="form-group">
      {{ field.label_tag }}
      {% render_field field class=field|input_class %}
      {% for error in field.errors %}
      <div class="invalid-feedback">
         {{ error }}
      </div>
      {% endfor %}
      {% if field.help_text %}
      <small class="form-text text-muted">
      {{ field.help_text|safe }}
      </small>
      {% endif %}
   </div>
   {% endfor %}
   {% if form_post.non_field_errors %}
   <div class="alert alert-danger" role="alert">
      {% for error in form_post.non_field_errors %}
      <p>{% if forloop.last %} class="mb-0"{% endif %}>{{ error }}</p>
      {% endfor %}
   </div>
   {% endif %}
   {% for field in form_post %}
   <div class="form-group">
      {{ field.label_tag }}
      {% render_field field class=field|input_class %}
      {% for error in field.errors %}
      <div class="invalid-feedback">
         {{ error }}
      </div>
      {% endfor %}
      {% if field.help_text %}
      <small class="form-text text-muted">
      {{ field.help_text|safe }}
      </small>
      {% endif %}
   </div>
   {% endfor %}
   <button type="submit" class="btn btn-success">Post</button>
</form>
{% endblock %}