{% extends 'base.html' %}
{% load static %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/post_and_comments.css' %}">
{% endblock %}

{% block content %}
<div class="who_come">

   <p>Who come : </p>
   {% if not is_already_coming %}
   <form class="form-inline" role="form" method="post" id="joinToEventForm">
      {% csrf_token %}
      <p align="left"><b ><button type="submit">I want join</button></b></p></b></p>
   </form>
   {% endif %}
   <div id="who_come_links">
   {% for u in who_come reversed %}
    <p><a href="profile/{{u.visiter.username}}" title="{{u.visiter.first_name}} {{u.visiter.last_name}}">{{u.visiter.username}}</a></p>
   {% endfor %}
   </div>
   <script>
      $('#joinToEventForm').submit(function() {
         $(this).find("button[type='submit']").prop('disabled',true);
      });
   </script>

<script>

   $('#joinToEventForm').on('submit', function(event){
    event.preventDefault();
    console.log("form submitted!")  // sanity check


   $.ajax({
       type:'POST',
       data:{
           action: 'joinEvent',
           csrfmiddlewaretoken:'{{ csrf_token }}'
       },

       success : function (data) {
           //console.log(data);

           var usernames = JSON.parse(data);
           var html_str = '';

           for (var i=0; i < usernames.length; i++) {
               html_str += '<p><a href="profile/' + usernames[i] + '">' + usernames[i] + '</a></p>';
           }

           $('#who_come_links').html(html_str);

           }


   });
});
</script>

</div>
<div class="detailBox">
   <div class="titleBox">
      <label>{{topic.subject}}</label>
      <!--<button type="button" class="close" aria-hidden="true">&times;</button>-->
   </div>
   <div class="commentBox">
      <img src="{{ MEDIA_URL }}{{ topic.image.url }}" alt="">
      <p class="taskDescription">{{ post.message|safe|linebreaks}}</p>
   </div>
   <div class="actionBox">
      <ul class="commentList">
         {% for comment in post.comment.all %}
         <li>
            <div class="commenterImage">
               {% if comment.creator.profile.profile_img %}

               <img src="{{ MEDIA_URL }}{{ comment.creator.profile.profile_img.url }}" >

               {% else  %}
               <img src="https://image.freepik.com/free-vector/no-translate-detected_1053-593.jpg">

               {% endif %}
            </div>
            <div class="commentText">
               <a href="profile/{{comment.creator}}" title="{{comment.creator.first_name}} {{comment.creator.last_name}}"<p id="com-creator"> {{ comment.creator.username }}</p></a>
               <p class="">{{ comment.body }}</p>
               <span class="date sub-text">{{comment.created_at}}</span>
            </div>
         </li>
         {% endfor %}
      </ul>
      <form class="form-inline" role="form" method="post" id="comment-form">
         {% csrf_token%}
         {{form}}
         <button type="submit"  class="btn btn-default">Add</button>
      </form>


      <!--<script>-->
         <!--$('#comment-form').on('submit', function(event) {-->
             <!--event.preventDefault();-->
             <!--console.log("comment submitted!")  // sanity check-->

             <!--{-->
                 <!--console.log("create post is working!") // sanity check-->
                 <!--$.ajax({-->

                     <!--type: "POST",-->
                     <!--data: {-->
                         <!--action: 'comment',-->
                         <!--comment: $('form').serialize(),-->
                         <!--csrfmiddlewaretoken: '{{ csrf_token }}'-->

                     <!--}, // data sent with the post request-->

                     <!--success: function (data) {-->

                         <!--$("form").val(''); // remove the value from the input-->
                         <!--console.log(data); // log the returned json to the console-->
                         <!--$("#commentText").html("<li><strong>" + data.body + "</strong></li>");-->
                         <!--console.log("success"); // another sanity chec-->
                     <!--},-->

                     <!--// handle a non-successful response-->
                     <!--error: function (xhr, errmsg, err) {-->

                         <!--console.log(errmsg);-->
                     <!--}-->
                 <!--});-->
             <!--}-->
         <!--});-->
      <!--</script>-->

   </div>
</div>


{% endblock %}