{% extends 'base.html' %}

{% block title %}
  {{ board.name }} - {{ block.super }}
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Boards</a></li>
  <li class="breadcrumb-item active">{{ board.name }}</li>
{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
  <div class="mb-4">
    <a href="{% url 'new_topic' board.pk %}" class="btn btn-primary">New topic</a>
  </div>
  {% endif %}
  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>Topic</th>
        <th>Starter</th>

        <th>Last Update</th>
      </tr>
    </thead>
    <tbody>
      {% for topic in board.topics.all reversed %}
        <tr>
          <td><a href="{{ topic.id }}">{{ topic.subject }}</a></td>
          {% if user.is_authenticated %}
          <td><a href="profile/{{ topic.starter }}">{{ topic.starter.username }}</a></td>
          {% endif %}
          <td>{{ topic.last_updated }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
